@charset "UTF-8";

@media screen and (min-width: 768px) {

@font-face{
font-family:dqfont;
src:url('PixelMplus10-Regular.woff')format('woff');
}
html{
	font-family:dqfont;
	width:auto;
    height: 100%;


}
body{
	background-color: black;
	text: #ffff;
	position: absolute;
  	top: 48%;
  	left: 50%;
	transform: translateY(-50%) translateX(-50%);
  	-webkit- transform: translateY(-50%) translateX(-50%);
}
/* --------------------------------------------- */
h1{
	color:white;
    text-align: center;
}

/* --------------------------------------------- */



.picture{

	width:auto;
	text-align: center;
	margin-bottom: 30px;
}



img{
	position: center;
}


/* --------------------------------------------- */

.comment{

    margin-left:auto;
	margin-right:auto;
	text-alihn:left;
	width:800px;
	height:12em;
	border-style:solid;
	border-color:white;
	border-radius:10px;
	color:white;
	padding: 10px;
	line-height: 130%;


}


button{
	font-family:dqfont;
	float:right;
	margin-right: 5%;
	text-align    : center;
  	cursor        : pointer;
  	padding       : 10px 15px;
 	background    : rgba(0, 0, 0, 0.10);
	color         : #ffffff;
 	line-height   : 0.3em;
 	opacity       : 0.9;
	transition    : .3s;

}
}


/* --------------------------------------------- スマホ*/
@media screen and (max-width: 768px) {
	html{
    width:auto;
    height: 100%;
    font-family:dqfont;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}


@font-face{
font-family:dqfont;
src:url('PixelMplus10-Regular.woff')format('woff');
}
html{
	font-family:dqfont;

}
body{
	background-color: black;
	text: #ffff;
	margin: 0 auto;

}
/* --------------------------------------------- */
h1{
	color:white;
    text-align: center;
}

/* --------------------------------------------- */



.picture{

	width:auto;
	text-align: center;

}



img{
	position: center;
	width: 100%;
	height: 15em;
}


/* --------------------------------------------- */

.comment{

    margin-left:auto;
	margin-right:auto;
	text-alihn:left;
	width:90%;
	height : auto;
	border-style:solid;
	border-color:white;
	border-radius:10px;
	color:white;
	padding: 10px;
	margin-top: 5%;
	line-height: 110%;

}

.comment button{
	font-family:dqfont;
	width		 	: auto;
  	display       : inline-block;
  	border-radius : 9%;
  	font-size     : 10pt;
  	text-align    : center;
  	cursor        : pointer;
  	padding       : 10px 15px;
 	background    : rgba(0, 0, 0, 0.10);
	color         : #ffffff;
 	line-height   : 0.3em;
 	opacity       : 0.9;
	transition    : .3s;
	margin-left:60%;
	margin-bottom: 10px;
	margin-top: 10px;

}
}







/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */


