
@charset "UTF-8";
@font-face{
font-family:dqfont;
src:url('PixelMplus10-Regular.woff')format('woff');
font-display:swap;
}


@media screen and (min-width: 768px) {

	html{
		font-family:dqfont , sans-serif;
        width:auto;
        height: 700px;
    }


body{
	background-color: black;
	color: white;
	text-align: center;
	margin: 0;

}
.left{
	width:120px;
	height:120px;
	margin-right:auto;
	margin-left: 20%;
}
.right{
	width:120px;
	height:120px;
	margin-left: auto;
	margin-right:20%;
}

#movie{
	width : 100%;
	height : 600px;
	background-color:black;
	overflow:hidden;
	text-align: center;
	position:relative;
}

.roll-text{
    white-space : pre;
	color:white;
	padding:5px;
	position:absolute;
	text-align:  center;        /* 文字を中央揃えに */
    left:  0;                   /* 左からの位置指定 */
    right:  0;                  /* 右からの位置指定 */
    margin:  auto;              /* 位置調整と組み合わせて上下中央に  */


	animation: anim-scroll-up 120s linear forwards;
}

@keyframes anim-scroll-up{
	from{
		top:auto;
	    }

to{
	bottom:100%;
}
}


a{
	color: blue;
}

a:hover{
  transition : 0.5s;
  color:#FF4F02;
  box-shadow:none;
}



}

/* --------------------------------------------------スマホ */




@media screen and (max-width: 768px) {


     html{
        width:auto;
        height: 100%;
        font-family:dqfont , sans-serif;

          }


body{


	background-color: black;
	color: white;
	text-align: center;
	margin: 0;

}
.left{
	width:120px;
	height:120px;
	margin-right:auto;
	margin-left: 0%;
}
.right{
	width:120px;
	height:120px;
	margin-left: auto;
	margin-right:0%;
}

#movie{
	width : auto;
	height : 50em;
	background-color:black;
	overflow:hidden;
	position:relative;
}

.roll-text{

    white-space : pre;
	color:white;
	padding:5px;
	position:absolute;
	text-align:  center;        /* 文字を中央揃えに */
    left:  0;                   /* 左からの位置指定 */
    right:  0;                  /* 右からの位置指定 */
    margin:  8px;              /* 位置調整と組み合わせて上下中央に  */


	animation: anim-scroll-up 100s linear forwards;
}

 @keyframes anim-scroll-up{
	from{
		top:auto;
	    }

to{
	bottom:100%;
}
}
}
