
@charset "UTF-8";



@media screen and (min-width: 768px) {

	html{
        width:auto;
        height: 700px;

    }


body{

	background-color: black;
	color: white;
	text-align: center;
	margin: 0;

}


#movie{
	width : 100%;
	height : 600px;
	background-color:black;
	overflow:hidden;
	text-align: center;
	position:relative;
}

.roll-text{
    white-space : pre;
	color:white;
	padding:5px;
	position:absolute;
	text-align:  center;        /* 文字を中央揃えに */
    left:  0;                   /* 左からの位置指定 */
    right:  0;                  /* 右からの位置指定 */
    margin:  auto;              /* 位置調整と組み合わせて上下中央に  */


	animation: anim-scroll-up 100s linear forwards;
}

@keyframes anim-scroll-up{
	from{
		top:auto;
	    }

to{
	bottom:100%;
}
}
}

/* --------------------------------------------------スマホ */




@media screen and (max-width: 479px) {


     html{
        width:auto;
        height: 100%;

          }


body{


	background-color: black;
	color: white;
	text-align: center;
	margin: 0;

}


#movie{
	width : auto;
	height : 800px;
	background-color:black;
	overflow:hidden;
	position:relative;
}

.roll-text{

    white-space : pre;
	color:white;
	padding:5px;
	position:absolute;
	text-align:  center;        /* 文字を中央揃えに */
    left:  0;                   /* 左からの位置指定 */
    right:  0;                  /* 右からの位置指定 */
    margin:  8px;              /* 位置調整と組み合わせて上下中央に  */


	animation: anim-scroll-up 100s linear forwards;
}

@keyframes anim-scroll-up{
	from{
		top:auto;
	    }

to{
	bottom:100%;
}
}
}
