@charset "UTF-8";

@media screen and (min-width: 768px) {
	html{
        width:auto;
        height: auto;
    }



@font-face{
font-family:dqfont;
src:url('PixelMplus10-Regular.woff')format('woff');
}

html{

	font-family:dqfont;
}

body{
	background-color:black;
	color:white;

}

.main{
	height:97vh;
    text-align:center;
    bottom:20px;
	padding-left: 20px;
	position:absolute;
	width:80%;
	height:200px;
	border-style:solid;
	border-color:white;
	border-radius:10px;
	color:white;
	margin-left: 9%;

}

#name{
	background-color:black;
	border: 3px solid white;
	color:white;
	font-family:dqfont;
	float:left;
	margin-top:10px;

}
input{
	font-family:dqfont;
	float:left;
}
form{

	float:left;
}
.nameset{
	margin:10px 0px 20px 20px;
	font-family:dqfont;
	cursor        : pointer;
  	padding       : 10px 15px;
 	background    : rgba(0, 0, 0, 0.10);
	color         : #ffffff;
 	line-height   : 0.3em;
 	opacity       : 0.9;
	transition    : .3s;
}

}

/* ------------------------------------------------------------ スマホ*/

@media screen and (max-width: 768px) {
	html{
        width:auto;
        height: 100%;
    }


@font-face{
font-family:dqfont;
src:url('PixelMplus10-Regular.woff')format('woff');
}

html{

	font-family:dqfont;
}

body{
	background-color:black;
	color:white;

}

.main{

	height:97vh;
    bottom:20px;
	padding-left: 20px;
	position:absolute;
	width:80%;
	height:200px;
	border-style:solid;
	border-color:white;
	border-radius:10px;
	color:white;
	text-align: center;
	margin-left: 5%;

}

#name{
	margin-top:10px;
	background-color:black;
	border: 3px solid white;
	color:white;
	font-family:dqfont;
	float:left;
}
input{
	font-family:dqfont;
	float:left;
}

form{

	float:left;
}
.nameset{
	margin:10px 0px 20px 20px;
	font-family:dqfont;
	cursor        : pointer;
  	padding       : 10px 15px;
 	background    : rgba(0, 0, 0, 0.10);
	color         : #ffffff;
 	line-height   : 0.3em;
 	opacity       : 0.9;
	transition    : .3s;
}

}
