@charset "UTF-8";

@media screen and (min-width: 768px) {
	html{
        width:auto;
        height: auto;
    }

@font-face{
font-family:dqfont;
src:url('PixelMplus10-Regular.woff')format('woff');
}
html{
	width:auto;
	height:auto;
	font-family:dqfont;
}

body{
	background-color:black;
	color:white;
	margin-top: 1%;

}

/* ----------------------------------------------- */

.tolk{
	text-align:center;
	display:block;
	max-width:50%;
	margin:0 auto;
	 position: relative;
}
.tolk img{
	width: 80%;
	height: 30em;
}

.king{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 46%;
}

.hero{
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 45%;

}

.night1{
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4%;
    left: 30%;

}

.night2{
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4%;
    left: 61%;

}
.night3{
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 30%;

}

.night4{
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 61%;

}.night5{
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 36%;
    left: 30%;

}

.night6{
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 36%;
    left: 61%;

}
.tolk img{
	width: 90%;
}
.king img{

	width: 140px;
}

.hero img{

    width: 140px;
    height: 110px;

}

.night1 img{

    width: 140px;

}

.night2 img{

	width: 140px;
}
.night3 img{

    width: 140px;

}

.night4 img{

    width: 140px;

}
.night5 img{

    width: 140px;

}

.night6 img{

    width: 140px;

}


/* ----------------------------------------------- */

.explain{

	margin-left:auto;
	margin-right:auto;
    bottom:0;
	padding-left: 20px;
    position: relative;
	width:1060px;
	height:160px;
	border-style:solid;
	border-color:white;
	border-radius:10px;
	color:white;
	margin-top: 5px;

}

.explain p{

}

/* ----------------------------------------------- */
input{
	font-family:dqfont;
	width		 	: 120px;
  	display       : inline-block;
  	border-radius : 9%;
  	font-size     : 10pt;
  	text-align    : center;
  	cursor        : pointer;
  	padding       : 10px 15px;
 	background    : rgba(0, 0, 0, 0.10);
	color         : #ffffff;
 	line-height   : 0.3em;
 	opacity       : 0.9;
	transition    : .3s;
	position: absolute;
	right: 8%;
	top: 70%;

}
/* ----------------------------------------------- */
}

/* ----------------------------------------------------スマホ */


@media screen and (max-width: 768px) {
html{
    width:auto;
    height: 100%;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@font-face{
font-family:dqfont;
src:url('PixelMplus10-Regular.woff')format('woff');
}
html{

	font-family:dqfont;
}

body{
	background-color:black;
	color:white;
	height:80%;

}

/* ----------------------------------------------- */


.tolk img{
	display:flex;
	align-items: center;
	max-width: 100%;
	max-height: 30em;
    position: relative;
    margin : 0 auto;

}

.king img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 40%;
    width: 90px;
}

.hero img{
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 44%;
    left: 38%;
    width: 90px;
    height: 80px;

}

.night1 img{
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12%;
    left: 2%;
    width: 90px;

}

.night2 img{
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12%;
    left: 74%;
    width: 90px;

}
.night3 img{
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 26%;
    left: 2%;
    width: 90px;

}

.night4 img{
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 26%;
    left: 74%;
    width: 90px;

}
.night5 img{
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 2%;
    width: 90px;

}

.night6 img{
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 74%;
    width: 90px;

}





/* ----------------------------------------------- */

.explain{

    bottom:0;
    position: relative;
	width:90%;
	height:200px;
	border-style:solid;
	border-color:white;
	border-radius:10px;
	color:white;
	margin: auto;
	margin-top: 5%;

}

.explain p{
	float: left;

}

/* ----------------------------------------------- */
input{
	font-family:dqfont;
	width		 	: 120px;
  	display       : inline-block;
  	border-radius : 9%;
  	font-size     : 10pt;
  	text-align    : center;
  	cursor        : pointer;
  	padding       : 10px 15px;
 	background    : rgba(0, 0, 0, 0.10);
	color         : #ffffff;
 	line-height   : 0.3em;
 	opacity       : 0.9;
	transition    : .3s;
	position: absolute;
	right: 8%;
	top: 80%;
}
/* ----------------------------------------------- */
}

